

<div class="row">
    <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">
        <div class="card">
            <div class="card-header bg-dark mt">
                <div class="row" >
                    <div class="col-6 ">
                        <h3>Product list</h3>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-light" (click)="openSidePanel()">New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3" *ngFor="let product of productList"> 
                        <div class="card">
                            <img [src]="product.image_Url"  alt="Card Image" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">{{product.productName}}</h4>
                                <p class="cart-text">{{product.description}}</p>
                                <b>
                                    <p class="card-text">Rs. {{product.price}}</p>
                                </b>
                                <!-- <a class="btn btn-primary">See Profile</a> -->
                                <a class="btn btn-success" (click)="onEdit(product)">Edit</a>
                                <a class="btn btn-danger mx-2" (click)="onDelete(product.productId)">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="isSidePanelVisible">
        <div class="card">
            <div class="card-header bg-dark ">
                <div class="row">
                    <div class="col-6">
                        New Product
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-light" (click)="closeSidePanel()">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Name</label>
                        <input type="text" [(ngModel)]="productObj.productName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Price</label>
                        <input type="number" [(ngModel)]="productObj.price" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Category</label>
                        <select  class="form-select" [(ngModel)]="productObj.categoryId">
                            <option *ngFor="let cat of categoryList"  [value]="cat.categoryId">{{cat.categoryName}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="">ImageUrl</label>
                        <input type="text" [(ngModel)]="productObj.image_Url" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Stock</label>
                        <input type="number" [(ngModel)]="productObj.stock" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Date</label>
                        <input type="date" [(ngModel)]="productObj.dateTime"  class="form-control">
                    </div>
                </div>
                <div class="row  mb-1" >
                    <div class="col-12">
                        <label for="">Product Description</label>
                        <textarea class="form-control" [(ngModel)]="productObj.description" rows="4"></textarea>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-6">
                        <button class="btn btn-success">Reset</button>
                    </div> -->
                    <div class="col-6">
                        <div class="btn btn-light" style="color: black;border-color: black;" *ngIf="productObj.productId ==0" (click)="onSubmit()">Save</div>
                        <div class="btn btn-light" style="color: black;border-color: black;"*ngIf="productObj.productId !==0" (click)="onUpdate()">Save</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>