
<main>
    <section class="dashboard-content">
        <div class="zigzag-container">
            <div class="zigzag-item">
                <a href="#" class="customer-link">
                    <img src="../../../assets/img/registerM.png" alt="Customer Icon">
                    <span>Customers</span>
                    <a class="link-light text-white" [routerLink]="['/admin/customer']">
                        <button class="get-info-btn">Get Info</button>
                      </a>
                </a>
            </div>
            <div class="zigzag-item">
                <a href="#" class="product-link">
                    <img src="../../../assets/img/order.jpeg" alt="Product Icon">
                    <span>Products</span>
                    <a class="link-light text-white" [routerLink]="['/admin/products']">
                        <button class="get-info-btn">Get Info</button>
                      </a>
                </a>
            </div>
            <div class="zigzag-item">
                <a href="#" class="order-link">
                    <img src="../../../assets/img/viewU.png" alt="Order Icon">
                    <span>Orders</span>
                    <a class="link-light text-white" [routerLink]="['/admin/order']">
                        <button class="get-info-btn">Get Info</button>
                      </a>
                </a>
            </div>
        </div>
    </section>
</main> 











<br>
<br>

