
  
  


           
  
  <div class="container-fluid">
          <div class="row mt-3" *ngIf="product">
              <div class="col-md-5 h-75">
                  <img [src]="product.image_Url" class=" d-flex align-items-center img-fluid">
              </div>
              <div class="col-md-6">
                  <h1>{{product.productName}}</h1>
                  <p>{{product.description}}</p>
                  <h4>Rs. {{product.price}}</h4>
                  
                  <form class="form-inline" method="POST">
                      <div class="form-group mb-2">
                     <!-- DONT UNCOMMENT     <input type="number" name="product_qty" id="productQty" class="form-control" placeholder="Quantity" min="1" max="1000" value="1"> -->
                          <input type="hidden" name="product_id" >
                      </div>
                      <div class="form-group mb-2 ml-2">
                          <a type="submit" (click)="onAddToCart(product.productId)" class="btn btn-success" name="add_to_cart" value="add to cart" >Add to Cart</a>
                      </div>
                  </form>
                  
              </div>
          </div>
          <div class="row mt-3">
              <div class="col-md-12">
                 
              </div>
          </div>
  
  
  </div>

      